.about-us {
  padding: 152px 140px;
}

.about-us__wrapper h2 {
  margin-bottom: 60px;
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  color: rgba(31, 31, 31, 1);
}

.about-us__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
}

.about-us__item {
  width: 18vw;
  text-align: center;
}

.about-us__num {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  color: rgba(10, 217, 198, 1);
}

.about-us__item p {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}

@media only screen and (max-width: 1023px) {
  .about-us {
    padding: 82px 106px 30px;
  }

  .about-us__wrapper h2 {
    margin-bottom: 45px;
    font-size: 24px;
  }

  .about-us__list {
    flex-wrap: wrap;
  }

  .about-us__item {
    padding: 0;
    width: calc(50% - 15px);
  }

  .about-us__item p {
    min-height: 115px;
  }
}

@media only screen and (max-width: 767px) {
  .about-us {
    padding: 0 15px 50px;
  }

  .about-us__wrapper h2 {
    font-size: 22px;
  }

  .about-us__item {
    width: 100%;
    margin-bottom: 33px;

    &:nth-child(-1n + 2) {
      margin-bottom: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .about-us__item p {
    font-size: 18px;
    min-height: 100px;
  }
}
