.button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
