.button {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: rgba(10, 217, 198, 1);
  text-align: center;
  cursor: pointer;
}
