.catalog {
  flex-wrap: wrap;
  width: 100%;
  padding: 153px 0;
  background-color: rgba(246, 247, 249, 1);
}

.catalog h2 {
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  min-height: 25px;
}

.catalog__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0 10vw 0 11.5vw;
}

.catalog__product {
  position: relative;
  margin-bottom: 30px;
}

.catalog__product--road-bike {
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: -58px;
    bottom: 40%;
    display: block;
    width: 180px;
    height: 180px;
    background-image: url("../img/round-big.png");
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
  }
}

.catalog__product--mountain-bike {
  padding-top: 30px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 20px;
    bottom: 0;
    display: block;
    width: 37px;
    height: 37px;
    background-image: url("../img/rectangle-black.png");
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 93%;
    right: 0;
    display: block;
    width: 47px;
    height: 47px;
    background-image: url("../img/rectangle.png");
    background-size: 47px 47px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.catalog__product--children-bicycle::before {
  content: "";
  position: absolute;
  right: -11%;
  top: -36px;
  display: block;
  width: 95px;
  height: 95px;
  background-image: url("../img/round-middle.png");
  background-size: 95px 95px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog__photo {
  display: block;
  width: 24vw;
  margin-bottom: 27px;
  line-height: 0;
}

.catalog__photo--children-bicycle {
  margin-bottom: 15px;
}

.catalog__product h3 {
  margin: 0;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  min-height: 25px;
}

@media only screen and (max-width: 1023px) {
  .catalog {
    padding: 54px 90px 69px;
  }

  .catalog h2 {
    margin-bottom: 35px;
    font-size: 24px;
  }

  .catalog__product h3 {
    letter-spacing: -0.5px;
  }

  .catalog__wrap {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .catalog__photo {
    width: 35vw;
    margin-bottom: 28px;
  }

  .catalog__product--road-bike::before {
    left: -40px;
    bottom: 25px;
    width: 127px;
    height: 127px;
    background-image: url("../img/round-medium.png");
    background-size: 127px 127px;
  }

  .catalog__product--children-bicycle::before {
    top: -23px;
    bottom: 0;
    width: 68px;
    height: 68px;
    background-image: url("../img/round-middle.png");
    background-size: 68px 68px;
  }

  .catalog__product--mountain-bike {
    margin-bottom: 55px;
    padding-top: 0;
    padding-left: 45px;

    &::before,
    &::after {
      display: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .catalog {
    padding: 61px 15px 0;
  }

  .catalog__wrap {
    padding: 0 10px;
  }

  .catalog__photo {
    width: 85vw;
  }

  .catalog__product {
    margin-bottom: 51px;
  }

  .catalog__product h3 {
    font-size: 22px;
  }

  .catalog__product--mountain-bike {
    padding-left: 0;
    margin-bottom: 40px;
  }

  .catalog__product--road-bike {
    margin-bottom: 42px;
  }

  .catalog__product--road-bike::before {
    left: -22px;
  }

  .catalog__product--children-bicycle::before {
    top: -20px;
    right: -20px;
  }
}
