.footer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.5vw 17vw;
}

.footer-page__address {
  width: 100%;
  text-align: center;
}

.footer-page p {
  width: 40vw;
  max-width: 1440px;
  margin: 0 auto 45px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
}

.footer-page h2 {
  margin: 0 0 35px;
  font-size: 30px;
  font-weight: 600;
}

.footer-page__map {
  width: 100%;
  margin-bottom: 30px;
}

.footer-page__contacts {
  justify-content: center;
  display: flex;
  width: 100%;
}

.footer-page__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.footer-page__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  white-space: nowrap;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer-page__item--email {
  width: 47%;
  justify-content: flex-end;
}

.footer-page__email-link {
  color: black;
  opacity: 0.5;
}

.footer-page__phone-link {
  color: black;
  opacity: 0.5;
}

.footer-page__email-svg {
  margin-right: 12px;
}

.footer-page__phone-svg {
  margin-right: 14px;
}

iframe {
  width: 100%;
  height: 530px;
  border: 0;
}

@media only screen and (max-width: 1023px) {
  .footer-page {
    padding: 8vw 0;
  }

  .footer-page__address {
    width: 100%;
  }

  .footer-page h2 {
    font-size: 24px;
    margin-bottom: 21px;
  }

  .footer-page p {
    width: 88vw;
    margin: 0 auto 20px;
    font-size: 15px;
  }

  .footer-page__item {
    padding-right: 0;
  }

  .footer-page__item--phone {
    width: 52%;
  }

  .footer-page__map {
    width: 91%;
    height: 525px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-page {
    padding: 9vw 0 0;
  }

  .footer-page h2 {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .footer-page p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    width: 85%;
  }

  .footer-page__map {
    height: 255px;
    width: 100%;
    margin-bottom: 25px;
  }

  .footer-page__contacts {
    height: 100px;
  }

  .footer-page__address {
    margin-bottom: 25px;
  }

  .footer-page__list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-page__item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0;
    width: 90%;
    padding: 0;
  }

  iframe {
    height: 255px;
  }
}
