.footer-page {
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__address {
    padding-top: 250px;
    text-align: center;
    width: 100%;
  }

  &__address-text {
    margin: 0;
    padding: 0 456px;
    min-height: 100px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
  }

  &__title {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 34px;
    min-height: 25px;
  }

  &__map {
    width: 67%;
    margin-bottom: 25px;
  }

  &__contacts {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  &__list {
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 440px;
  }

  &__item {
    align-items: center;
    display: flex;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__email-link {
    color: black;
    opacity: 0.5;
  }

  &__phone-link {
    color: black;
    opacity: 0.5;
  }

  &__email-svg {
    margin-right: 12px;
  }

  &__phone-svg {
    margin-right: 12px;
  }
}

iframe {
  border: 0;
  width: 100%;
  height: 530px;
}


@media only screen and (max-width: 1023px) {
  .footer-page {
    height: 890px;

    &__address {
      padding-top: 155px;
      width: 100%;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 30px;
    }

    &__address-text {
      padding: 0;
      min-height: 45px;
    }

    &__list {
      width: 70%;
      padding: 0;
    }

    &__item {
      padding-right: 0;
    }

    &__map {
      width: 91%;
      height: 518px;
      margin-bottom: 48px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .footer-page {
    height: 655px;

    &__address {
      padding-top: 120px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 28px;
    }

    &__address-text {
      font-size: 17px;
      line-height: 30px;
      font-weight: 400;
      padding: 0 35px;
      min-height: 105px;
    }

    &__map {
      height: 255px;
      width: 100%;
      margin-bottom: 12px;
    }

    &__contacts {
      height: 100px;
    }

    &__list {
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  iframe {
    height: 255px;
  }
}
