.intro {
  background-image: url("../img/img-bike-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(34, 34, 34, 1);
}

.intro__inner-wrap {
  display: flex;
  justify-content: space-between;
  padding: 17vw 19vw;
  margin: 0 auto;
}

.intro__wrap {
  width: 30vw;
  padding-left: 8px;
}

.intro__logo {
  display: inline-block;
  margin-bottom: 27px;
  padding-top: 73px;
}

.intro__wrap h1 {
  width: 100%;
  margin-bottom: 32px;
  margin-top: 0;
  line-height: 60px;
  font-size: 46px;
  color: rgba(255, 255, 255, 1);
}

.intro__wrap p {
  margin: 0;
  width: 29vw;
  line-height: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1023px) {
  .intro {
    background-image: none;
  }

  .intro__logo {
    position: absolute;
    top: 25px;
    left: 22px;
    padding: 0;
    margin: 0;
  }

  .intro__inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .intro__wrap {
    flex-direction: column;
    align-items: center;
    padding: 126px 121px 85px;
    width: 100%;
    background-image: url("../img/img-bike-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .intro__wrap h1 {
    display: flex;
    justify-content: center;
    padding-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .intro__wrap p {
    width: 75%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .intro__wrap {
    padding: 119px 15px 72px;
    background-image: url("../img/img-bike-mobile@1x.jpg");
  }

  .intro__logo {
    left: 17px;
  }

  .intro__wrap h1 {
    margin-bottom: 20px;
    text-align: center;
    line-height: 45px;
  }

  .intro__wrap p {
    width: 100%;
  }
}
