.main-header {
  position: absolute;
  width: 100%;
}

.main-header__toggle {
  display: none;
}


@media only screen and (max-width: 1023px) {
  .main-header {
    z-index: 1;
  }

  .main-header__toggle {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(10, 217, 198);
    background-image: url("../img/icon-burger-menu.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border: none;
    z-index: 1;
    outline: 0;
    cursor: pointer;
  }

  .main-header__toggle--closed {
    display: block;
    background-image: url("../img/icon-menu-close.svg");
    background-color: transparent;
    background-position: 12px 13px;
  }

  .main-header__toggle--nojs {
    display: none;
  }
}
