.video-about-bicycles {
  position: relative;
  padding: 8.5vw 18vw 0;
  background: linear-gradient(180deg, rgba(19, 19, 20, 1) 88%, rgba(255, 255, 255, 1) 25%);
}

.video-about-bicycles h2 {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  color: white;
}

.video-about-bicycles p {
  margin: 0 auto 60px;
  width: 45%;
  max-width: 1440px;
  text-align: center;
  color: white;
}

.video-about-bicycles__choose {
  display: flex;
  justify-content: center;
}

.video-about-bicycles__play-btn {
  position: absolute;
  left: 50%;
  top: 68%;
  width: 71px;
  height: 71px;
  font-size: 0;
  background-image: url("../img/play-button.png");
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 2px 2px;
  background-color: transparent;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

@media only screen and (max-width: 1023px) {
  .video-about-bicycles {
    padding: 10vw 17vw 1vw;
    background: linear-gradient(180deg, rgba(19, 19, 20, 1) 81%, rgba(255, 255, 255, 1) 25%);
  }

  .video-about-bicycles h2 {
    font-size: 24px;
  }

  .video-about-bicycles p {
    width: 90%;
    margin-bottom: 45px;
  }

  .video-about-bicycles__choose {
    top: 216px;
  }

  .video-about-bicycles__play-btn {
    left: 50%;
    top: 69%;
    width: 92px;
    height: 92px;
    background-size: 90px 90px;
  }
}

@media only screen and (max-width: 767px) {
  .video-about-bicycles {
    padding: 88px 15px 40px;
  }

  .video-about-bicycles h2 {
    font-size: 23px;
  }

  .video-about-bicycles p {
    padding: 0;
    width: 100%;
    line-height: 28px;
    margin-bottom: 50px;
  }

  .video-about-bicycles__choose {
    top: 271px;
  }

  .video-about-bicycles__play-btn {
    left: 50%;
    top: 74%;
    width: 68px;
    height: 68px;
    background-size: 65px 65px;
  }
}
